.footer-container {
  background-color: #282323;
  display: flex;
margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

footer ul li {
  display: inline-block;
  margin: 5px 25px 15px;
  font-size: 16px;
}
.social-footer-box ul li {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
.social-footer {
  margin: 40px 40px;
}

.footer-container h1 {
  margin-left: 10px;
  text-shadow: var(--shadow-text);
}
.footer-container p {
 
}
